# **S09: EXERCISES**

## Exercise 01

Recover the Exercise 01 from Session 07
1. Build the model again but now include cross validation in the training process using `KFold` cross validation
1. Calculate the precision, recall and f1 for each fold and represent the results in a chart. Use 5 folds.
1. Is your model robust? How can you improve it?
1. Now train your model with the entire training set and evaluate it with the test set. How does it perform?

## Exercise 01: Dealing with categories

Load the Adults dataset from `data/adult.csv.zip` and build a machine learning model to estimate the target `income`. This dataset contains not just numerical variables, but categorical ones, so don't forget to preprocess this variables as well before training the model. Choose the `LogisticRegression` model from `scikit-learn` for training.

*Note: This dataset is for classification, so feel free to experiment with any model you want from the classification `scikit-learn` catalog*

Here is the documentation of the dataset

```
age: continuous.
workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
fnlwgt: continuous.
education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
education-num: continuous.
marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
sex: Female, Male.
capital-gain: continuous.
capital-loss: continuous.
hours-per-week: continuous.
native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.
class: >50K, <=50K
```

In [2]:
import pandas as pd
data = pd.read_csv("data/adult.csv.zip")

data["age_group"] = pd.cut(data["age"], bins=3).astype('object')
dumi_df = pd.get_dummies(data['educational-num'], prefix='educational-num', drop_first=True)
data = data.drop("educational-num", axis=1)
data = data.drop("age", axis = 1)
data = pd.concat([data, dumi_df], axis=1)
data.sample(5)

,workclass,fnlwgt,education,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,...,educational-num_7,educational-num_8,educational-num_9,educational-num_10,educational-num_11,educational-num_12,educational-num_13,educational-num_14,educational-num_15,educational-num_16
42530,Private,186324,Bachelors,Married-civ-spouse,Sales,Husband,White,Male,0,0,...,False,False,False,False,False,False,True,False,False,False
29411,Local-gov,201560,Bachelors,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,0,...,False,False,False,False,False,False,True,False,False,False
3316,Private,32627,HS-grad,Divorced,Other-service,Not-in-family,White,Male,0,0,...,False,False,True,False,False,False,False,False,False,False
19793,Private,152035,HS-grad,Never-married,Adm-clerical,Own-child,White,Female,0,0,...,False,False,True,False,False,False,False,False,False,False
2538,Federal-gov,124974,Some-college,Divorced,Adm-clerical,Not-in-family,White,Female,0,0,...,False,False,False,True,False,False,False,False,False,False

In [3]:
data.isna().sum()

workclass             0
fnlwgt                0
education             0
marital-status        0
occupation            0
relationship          0
race                  0
gender                0
capital-gain          0
capital-loss          0
hours-per-week        0
native-country        0
income                0
age_group             0
educational-num_2     0
educational-num_3     0
educational-num_4     0
educational-num_5     0
educational-num_6     0
educational-num_7     0
educational-num_8     0
educational-num_9     0
educational-num_10    0
educational-num_11    0
educational-num_12    0
educational-num_13    0
educational-num_14    0
educational-num_15    0
educational-num_16    0
dtype: int64

In [4]:
#Mirar los tipos de datos
data.dtypes

workclass             object
fnlwgt                 int64
education             object
marital-status        object
occupation            object
relationship          object
race                  object
gender                object
capital-gain           int64
capital-loss           int64
hours-per-week         int64
native-country        object
income                object
age_group             object
educational-num_2       bool
educational-num_3       bool
educational-num_4       bool
educational-num_5       bool
educational-num_6       bool
educational-num_7       bool
educational-num_8       bool
educational-num_9       bool
educational-num_10      bool
educational-num_11      bool
educational-num_12      bool
educational-num_13      bool
educational-num_14      bool
educational-num_15      bool
educational-num_16      bool
dtype: object

In [5]:
from sklearn.preprocessing import LabelEncoder

cat_columns = [col for col in data.select_dtypes(include=['object']).columns]

for cat_col in cat_columns:
    print(cat_col, f"{len(data[cat_col].unique())} categories")
    data[cat_col] = LabelEncoder().fit_transform(data[cat_col])
    
data

workclass 9 categories
education 16 categories
marital-status 7 categories
occupation 15 categories
relationship 6 categories
race 5 categories
gender 2 categories
native-country 42 categories
income 2 categories
age_group 3 categories

,workclass,fnlwgt,education,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,...,educational-num_7,educational-num_8,educational-num_9,educational-num_10,educational-num_11,educational-num_12,educational-num_13,educational-num_14,educational-num_15,educational-num_16
0,4,226802,1,4,7,3,2,1,0,0,...,True,False,False,False,False,False,False,False,False,False
1,4,89814,11,2,5,0,4,1,0,0,...,False,False,True,False,False,False,False,False,False,False
2,2,336951,7,2,11,0,4,1,0,0,...,False,False,False,False,False,True,False,False,False,False
3,4,160323,15,2,7,0,2,1,7688,0,...,False,False,False,True,False,False,False,False,False,False
4,0,103497,15,4,0,3,4,0,0,0,...,False,False,False,True,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,4,257302,7,2,13,5,4,0,0,0,...,False,False,False,False,False,True,False,False,False,False
48838,4,154374,11,2,7,0,4,1,0,0,...,False,False,True,False,False,False,False,False,False,False
48839,4,151910,11,6,1,4,4,0,0,0,...,False,False,True,False,False,False,False,False,False,False
48840,4,201490,11,4,1,3,4,1,0,0,...,False,False,True,False,False,False,False,False,False,False
48841,5,287927,11,2,4,5,4,0,15024,0,...,False,False,True,False,False,False,False,False,False,False

In [6]:
data_corr = data.corr()
data_corr["income"].sort_values(ascending=False)

income                1.000000
hours-per-week        0.227687
capital-gain          0.223013
gender                0.214628
educational-num_13    0.180371
educational-num_14    0.174184
age_group             0.173866
educational-num_15    0.154627
capital-loss          0.147554
educational-num_16    0.126473
education             0.080091
occupation            0.076722
race                  0.070934
workclass             0.052674
native-country        0.012210
educational-num_12    0.008061
educational-num_11    0.006884
fnlwgt               -0.006339
educational-num_2    -0.034573
educational-num_3    -0.044796
educational-num_8    -0.045494
educational-num_5    -0.054384
educational-num_4    -0.057713
educational-num_10   -0.062272
educational-num_6    -0.070837
educational-num_7    -0.086728
educational-num_9    -0.130706
marital-status       -0.199072
relationship         -0.253214
Name: income, dtype: float64

In [7]:
X = pd.DataFrame(data.drop(columns="income"))
X = pd.get_dummies(X, drop_first=True)
X["age_group"]

0        0
1        0
2        0
3        1
4        0
        ..
48837    0
48838    0
48839    1
48840    0
48841    1
Name: age_group, Length: 48842, dtype: int32

In [8]:
y = pd.Series(data["income"])
y

0        0
1        0
2        1
3        1
4        0
        ..
48837    0
48838    1
48839    0
48840    0
48841    1
Name: income, Length: 48842, dtype: int32

In [9]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [10]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, 
    test_size=0.3, 
    random_state=0
)

print(f"size X_train{X_train.shape}")
print(f"size X_test{X_test.shape}")
print(f"size y_train{y_train.shape}")
print(f"size y_test{y_test.shape}")

size X_train(34189, 28)
size X_test(14653, 28)
size y_train(34189,)
size y_test(14653,)

In [11]:
#Escalar las variables de object a numerico
from sklearn.preprocessing import RobustScaler
scl = RobustScaler()

#NOTA 1: Instead of `fit` and the `transform`, you can use the `fit_transform` method to do both thing sequentially
X_train_sc = scl.fit_transform(X_train)
X_test = scl.transform(X_test)

# the result is returned as a numpy array, so let's convert it again to a Padnas Df
X_train_sc = pd.DataFrame(X_train_sc, columns=X_train.columns)

In [12]:
X_train_sc.describe()

,workclass,fnlwgt,education,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,...,educational-num_7,educational-num_8,educational-num_9,educational-num_10,educational-num_11,educational-num_12,educational-num_13,educational-num_14,educational-num_15,educational-num_16
count,3.418900e+04,3.418900e+04,3.418900e+04,3.418900e+04,3.418900e+04,3.418900e+04,3.418900e+04,3.418900e+04,3.418900e+04,3.418900e+04,...,3.418900e+04,3.418900e+04,3.418900e+04,3.418900e+04,3.418900e+04,3.418900e+04,3.418900e+04,3.418900e+04,3.418900e+04,3.418900e+04
mean,5.154131e-17,-2.805676e-17,1.458952e-16,-7.897459e-17,4.114992e-17,2.286107e-17,-6.692058e-17,-8.271550e-17,-1.267750e-17,2.784894e-17,...,2.774502e-17,1.371664e-17,-7.377890e-17,-6.785580e-17,-7.377890e-17,5.611353e-17,-3.657771e-17,-3.533074e-18,-1.007965e-17,-5.445090e-17
std,1.000015e+00,1.000015e+00,1.000015e+00,1.000015e+00,1.000015e+00,1.000015e+00,1.000015e+00,1.000015e+00,1.000015e+00,1.000015e+00,...,1.000015e+00,1.000015e+00,1.000015e+00,1.000015e+00,1.000015e+00,1.000015e+00,1.000015e+00,1.000015e+00,1.000015e+00,1.000015e+00
min,-2.640412e+00,-1.679259e+00,-2.650223e+00,-1.735369e+00,-1.559348e+00,-8.993252e-01,-4.362306e+00,-1.425582e+00,-1.441992e-01,-2.164920e-01,...,-1.970584e-01,-1.170394e-01,-6.920657e-01,-5.373007e-01,-2.077847e-01,-1.843737e-01,-4.418265e-01,-2.375341e-01,-1.315972e-01,-1.120597e-01
25%,8.378402e-02,-6.832291e-01,-3.326534e-01,-4.063247e-01,-8.482676e-01,-8.993252e-01,3.906459e-01,-1.425582e+00,-1.441992e-01,-2.164920e-01,...,-1.970584e-01,-1.170394e-01,-6.920657e-01,-5.373007e-01,-2.077847e-01,-1.843737e-01,-4.418265e-01,-2.375341e-01,-1.315972e-01,-1.120597e-01
50%,8.378402e-02,-1.096039e-01,1.823621e-01,-4.063247e-01,9.983982e-02,-2.762725e-01,3.906459e-01,7.014679e-01,-1.441992e-01,-2.164920e-01,...,-1.970584e-01,-1.170394e-01,-6.920657e-01,-5.373007e-01,-2.077847e-01,-1.843737e-01,-4.418265e-01,-2.375341e-01,-1.315972e-01,-1.120597e-01
75%,8.378402e-02,4.571976e-01,4.398699e-01,9.227196e-01,8.109204e-01,9.698330e-01,3.906459e-01,7.014679e-01,-1.441992e-01,-2.164920e-01,...,-1.970584e-01,-1.170394e-01,1.444950e+00,-5.373007e-01,-2.077847e-01,-1.843737e-01,-4.418265e-01,-2.375341e-01,-1.315972e-01,-1.120597e-01
max,2.807980e+00,1.232933e+01,1.212393e+00,2.251764e+00,1.759028e+00,2.215938e+00,3.906459e-01,7.014679e-01,1.348624e+01,1.061390e+01,...,5.074639e+00,8.544130e+00,1.444950e+00,1.861155e+00,4.812675e+00,5.423768e+00,2.263332e+00,4.209922e+00,7.598946e+00,8.923813e+00

In [13]:
model = LogisticRegression(max_iter = 200) ## we need to understand what is this
model.fit(X_train_sc, y_train)

LogisticRegression(max_iter=200)

In [14]:
# Train and evalute on training set
from sklearn.model_selection import cross_validate
results = cross_validate(model, X_train_sc, y_train, cv=5, scoring=["precision", "recall", "f1"], return_train_score=True)
results

{'fit_time': array([0.05080557, 0.06249905, 0.07812238, 0.0625    , 0.06446218]),
 'score_time': array([0.01562166, 0.01563025, 0.01562858, 0.        , 0.01562381]),
 'test_precision': array([0.71402214, 0.70976492, 0.71428571, 0.70841487, 0.74196891]),
 'train_precision': array([0.71647877, 0.7184255 , 0.71960596, 0.72048653, 0.71802885]),
 'test_recall': array([0.47368421, 0.48041616, 0.44648318, 0.44281346, 0.43818849]),
 'train_recall': array([0.45686754, 0.45503212, 0.45816124, 0.4621386 , 0.45686754]),
 'test_f1': array([0.56953642, 0.5729927 , 0.54949191, 0.54497554, 0.55098115]),
 'train_f1': array([0.55795274, 0.55716827, 0.55986541, 0.56309413, 0.55842213])}

In [15]:
results = pd.DataFrame(results)
results

,fit_time,score_time,test_precision,train_precision,test_recall,train_recall,test_f1,train_f1
0,0.050806,0.015622,0.714022,0.716479,0.473684,0.456868,0.569536,0.557953
1,0.062499,0.015630,0.709765,0.718426,0.480416,0.455032,0.572993,0.557168
2,0.078122,0.015629,0.714286,0.719606,0.446483,0.458161,0.549492,0.559865
3,0.062500,0.000000,0.708415,0.720487,0.442813,0.462139,0.544976,0.563094
4,0.064462,0.015624,0.741969,0.718029,0.438188,0.456868,0.550981,0.558422

In [16]:
results.mean()

fit_time           0.063678
score_time         0.012501
test_precision     0.717691
train_precision    0.718605
test_recall        0.456317
train_recall       0.457813
test_f1            0.557596
train_f1           0.559301
dtype: float64

In [17]:
results.std()

fit_time           0.009718
score_time         0.006988
test_precision     0.013814
train_precision    0.001535
test_recall        0.019301
train_recall       0.002662
test_f1            0.012731
train_f1           0.002337
dtype: float64